<h2>Log In</h2>
<%= form_with model: @user, url: login_path do |f| %>
  <div class="form-group">
    <%= f.label :username %>
    <%= f.text_field :username, class: "form-control" %>
  </div>

  <%= f.submit "Log in", class: "btn btn-primary" %>

<% end %>
<p></p>
<p><strong>A note about logging in</strong></p>
<p>
  There is no password field. In fact, there is no indication whatsoever that you are who you say you are.
  There's nothing special about users - username is just another piece of data that the user entered and we have to keep track of.
</p>

