/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";

@import "**/*";

.app-header__header {
  background-color: #B2DFDB ;
  max-width: 100%;
  margin-bottom: 0.5rem;
  padding: 2rem 1rem 0.5rem 1rem;
}
.app-header__header h1 {
  text-align: center;
  margin: 25px auto 40px auto;

}
.app-header__header h1 a {
  color: #FF5722;
  text-decoration: none;
  border-right: white solid ;
  padding-right: 30px;
}

.app-header__header h1 small {
  color: white;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.app-header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-link {
  color: #00796B;
}

.btn-primary {
  background-color: #26A69A;
  color: white;
  border-color: #26A69A;
}

.btn-primary:hover {
  background-color: #0c5460;
}

a, h2, h3 {
  color: #26A69A;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
}

body, h1, h2, h3, h4, h5 {
  font-family: "Gudea", sans-serif;
}

h2, .h2 {
  font-size: 2rem;
}

*, ::before, ::after {
  box-sizing: border-box;
}

div {
  display: block;
  width: 100%;
}

.spotlight {
  padding: 0 2rem 2rem 2rem;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

.spotlight__header--prefix {
  color: #424242;
}

.spotlight__link-to {
  border-bottom: 2px solid;
}

a:hover {
  text-decoration: none;
  color: #0f6674;
}

.spotlight__description {
  //color: black;
  //font-size: small;
  //border-bottom: 1px solid;
  //border-bottom-color: lightgrey;
}

.root__hr {
  margin: 0px auto 3rem auto;
  color: #EEEEEE;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

.top-ten__container {
  display: grid ;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2rem;
}

.list-group.top-ten__list {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

.top-ten__header {
  border-bottom: 2px solid;
  border-bottom-color: #B2DFDB;
}

.table {
  width: 100%;
}


